body  
{  
    margin: 0;  
    padding: 0;  
    background-color: rgb(173, 1, 75);  
    font-family: 'Arial';  
}

div{
    width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        margin-top: 200px;
        background: rgb(254, 228, 228);  
        border-radius: 15px ; 
        
}
h1 {
    text-align: center;
}
h2{
    text-align: center;
}
form{
    text-align: center;
    
}
button{
    width: 140px;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
    background-color: rgb(212, 18, 102);
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 20px;
    
}

button:hover {
    background-color: rgb(247, 105, 167);
  }
  a{
        text-decoration: none;
        color: black;
  }
