body  
{  
    margin: 0;  
    padding: 0;  
    background-color: rgb(173, 1, 75);  
    font-family: 'Arial';  
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        margin-top: 200px;
        background: rgb(254, 228, 228);  
        border-radius: 15px ;
}

button{
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
    background-color: rgb(173, 1, 75);
}

button:hover {
    background-color: white;
}
h1{
    display: center;
    justify-content: center;
    align-items: center;
}
